# Gradle
/.gradle/
/build/
/common/build/
/backend/build/
/client/build/
/desktop-client/build

/out/

# Kotlin specific (IDE metadata)
/.kotlinc/
.kotlin/

# IntelliJ / Android Studio / VS Code
.idea/
/*.iml
.vscode/

# OS junk
.DS_Store
Thumbs.db

# Logs
*.log

# Local environment configs
*.local
*.env
/backend/moodtracker.db
/moodtracker.db
